.slippagePopoverContent {
    display: flex;
    flex-direction: column;
    background-color: #1f1f1f; 
    color: white;
    border-radius: 8px;
    align-items: flex-start; 
}

.slippageButton {
    margin: 4px 0;
    color: white;
    background-color: #141414;
    border: none;
    justify-content: center;
    width: 100%;
}

.inputNumber {
    margin: 8px 0;
    color: white;
    background-color: #141414;
    border: none;
}

.slippageButton:hover {
    background-color: #6c63ff !important;
}

.saveSettingsButton:hover {
    background-color: #6c63ff !important;
    color: white!important;
}

.inputNumber {
    margin: 8px 0;
    color: white;
    background-color: #141414;
    border: none;
    width: calc(100% - 8px);
}

.saveSettingsButton {
    margin-top: 12px; 
    color: white;
    background-color: #805AD5; 
    border: none;
    width: 100%;
}

.customInputWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.customInputLabel {
    margin: auto;
}

.customInput {
    margin: auto;
}

